* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.headImg>img {
  width: 100%;
}

.productList {
  display: flex;
  flex-wrap: wrap;
}

.productList>div {
  width: calc(100% / 3 - 20px);
  cursor: pointer;
  margin: 10px;
}

.list img {
  width: 100%;
}

.list_con {
  padding: 60px;
}

.list_con img {
  width: 100%;
}